.about,
.skills,
.works,
.resume,
.contact {
  text-align: center;
  padding: 150px 0;

  .about-heading,
  .skills-heading,
  .works-heading,
  .resume-heading,
  .contact-heading {
    padding-bottom: 50px;
    margin: 0;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 5px;
  }
}
