.about,
.skills,
.works,
.resume,
.contact {
  padding: 150px 0;
  text-align: center;
}

.about__heading,
.skills__heading,
.works__heading,
.resume__heading,
.contact__heading {
  padding-bottom: 50px;
  margin: 0;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 5px;
}
