/* -------- WORKS SECTION -------- */

.works {
  background-color: $dark-bg;
}

.works__wrapper {
  @include container();
} 

.works__heading {
  font-weight: normal;
  color: $text-color-white;
}

.works__list {
  list-style-type: none;
  max-width: 800px;
  padding: 0;
  margin: 0 auto;
}


/* -------- Works item -------- */

.works__item {
  padding: 10px;
}

.works__item-heading {
  font-weight: normal;
  text-transform: uppercase;
  color: $text-color-white;
}

.works__item-category {
  font-weight: normal;
  text-transform: uppercase;
  color: $text-color-white;
}

.works__item-image {
  transition: transform 0.4s ease-in-out;
  -webkit-backface-visibility: hidden;
}

.works__item-link {
  display: inline-block;
  padding: 5px;
  color: $text-color-white;

  &:hover {
    color: $gray-70;
  }
}

.works__item-desc {
  @include center('both');
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  -webkit-backface-visibility: hidden;
}

.works__item-overlay {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: opacity 0.4s ease-in-out;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-backface-visibility: hidden;
}

.works__item-wrapper {
  position: relative;
  display: inline-block;
  overflow: hidden;
  -webkit-backface-visibility: hidden;

  &:hover {
    cursor: pointer;

    .works__item-overlay {
      opacity: 1;
    }

    .works__item-desc {
      opacity: 1;
    }

    .works__item-image {
      transform: scale(1.10);
    }
  }
}
