/* -------- WORKS SECTION -------- */

.works {
  background-color: $dark-bg;
}

.works__heading {
  font-weight: normal;
  color: $text-color-white;
}

.works__list {
  list-style-type: none;
  max-width: 800px;
  padding: 0;
  margin: 0 auto;
}

.works__item-wrapper {
  position: relative;

  &:hover {
    cursor: pointer;

    .works__item-overlay {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.6);
    }

    .works__item-desc {
      display: block;
    }
  }
}


/* -------- Works item -------- */

.works__item {
  padding: 10px;
}

.works__item-heading {
  font-weight: normal;
  text-transform: uppercase;
  color: $text-color-white;
}

.works__item-category {
  font-weight: normal;
  text-transform: uppercase;
  color: $text-color-white;
}

.works__item-link {
  color: $text-color-white;
}

.works__item-desc {
  display: none;
  @include center('both');
}
