/* -------- HEADER  -------- */
.header {
  position: relative;
  min-height: 100%;
  background-image: url('../img/header-bg2.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  @media only screen and (min-width: 768px) and (max-width: 1200px) {
    /* Medium screen, non-retina */
    background-image: url("../img/header-bg1200.jpg");
  }

  @media only screen and (max-width: 768px) {
    /* Medium screen, non-retina */
    background-image: url("../img/header-bg768.jpg");
  }

  @media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 768px), only screen and (min-resolution: 2dppx) and (max-width: 768px) {
    /* Medium screen, retina */
    background-image: url("../img/header-bg768@2x.jpg");
  }

  @media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px), only screen and (min-resolution: 2dppx) and (min-width: 768px) {
    /* Large screen, retina */
    background-image: url('../img/header-bg2.jpg');
  }
}


/* -------- HEADER-MENU  -------- */
.header-menu {
  padding: 10px 0;
  background-color: #222;
}

.hero {
  @include center(both);
  text-align: center;
  text-transform: uppercase;

  .hero-heading {
    font-weight: normal;
    color: $text-color-white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);

    &--primary {
      font-size: 6rem;
      letter-spacing: 5px;
    }

    &--secondary {
      font-size: 2rem;
      letter-spacing: 1px;
    }
  }
}


/* -------- header-logo -------- */
.header-logo {
  &-icon {
    width: 50px;
    height: 50px;
  }
}

/* -------- header-navigation -------- */
.header-nav-list {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: right;

  .header-nav-item {
    display: inline-block;
    text-align: right;
  }

  .header-nav-link {
    display: inline-block;
    margin-left: 10px;
    padding: 5px;
    color: $gray_80;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.6px;

    &:hover {
      color: $text-color-white;
    }

    &:active,
    &:focus {
      color: $gray-70;
    }
  }
}
