/* -------- PAGE-HEADER  -------- */

.page-header {
  position: relative;
  min-height: 100%;
  background-image: url('../img/header-bg2.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;

  @media only screen and (min-width: 768px) and (max-width: 1200px) {
    /* Medium screen, non-retina */
    background-image: url("../img/header-bg1200.jpg");
  }

  @media only screen and (max-width: 768px) {
    /* Medium screen, non-retina */
    background-image: url("../img/header-bg768.jpg");
  }

  @media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 768px), only screen and (min-resolution: 2dppx) and (max-width: 768px) {
    /* Medium screen, retina */
    background-image: url("../img/header-bg768@2x.jpg");
  }

  @media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px), only screen and (min-resolution: 2dppx) and (min-width: 768px) {
    /* Large screen, retina */
    background-image: url('../img/header-bg2.jpg');
  }
}


/* -------- PAGE HEADER-MENU  -------- */

.page-header__wrapper {
  @include container();
}

.page-header__menu {
  position: fixed;
  display: none;
  z-index: 99;
  width: 100%;
  padding: 10px 0;
  background-color: #222;
}

.page-header__hero {
  @include center(both);
  text-align: center;
  text-transform: uppercase;
}

.page-header__heading {
  font-weight: normal;
  color: $text-color-white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);

  &--primary {
    font-size: 6rem;
    letter-spacing: 5px;
  }

  &--secondary {
    font-size: 2rem;
    letter-spacing: 1px;
  }
}


/* -------- Header-logo -------- */

.page-header__svg {
  width: 50px;
  height: 50px;
}


/* -------- Header-navigation -------- */

.main-nav {
  display: block;
}

.main-nav__list {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: right;
}

.main-nav__item {
  display: inline-block;
  text-align: right;
}

.main-nav__link {
  display: inline-block;
  margin-left: 10px;
  padding: 5px;
  color: $gray_80;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.6px;

  &:hover {
    color: $text-color-white;
  }

  &:active,
  &:focus {
    color: $gray-70;
  }
}

.in-view {
  opacity: 1 !important;
  display: block;
}


/* -------- Hamburger Icon -------- */

.page-header__hamburger {
  display: none;
  text-align: right;
}

.page-header__hamburger-ico {
  display: none;
  width: 40px;
  padding: 5px;
  cursor: pointer;

  &:hover .divide {
    background-color: $link-color-hover;
  }

  .divide {
    display: block;
    height: 3px;
    margin: 4px 0;
    background-color: $link-color;

    &:last-child {
      margin-bottom: 0;
    }
  }
}


/* -------- TABLET MEDIA QUERIES --------*/

/* -------- Hamburger Icon -------- */

@include screen('tablet') {
  .page-header__hamburger {
    display: inline-block;
    vertical-align: middle;
  }

  .page-header__hamburger-ico {
    display: inline-block;
    vertical-align: middle;
  }
}

/* -------- Header-navigation -------- */

@include screen('tablet') {
  .main-nav {
    display: none;
    margin: 0 auto;
    width: 100%;
  }

  .main-nav__list {
    text-align: center;
    padding: 10px 0;
  }

  .main-nav__item {
    display: block;
    text-align: center;
  }

  .main-nav__link {
    display: block;
    margin-left: 0;
    padding: 10px 0;
    color: $gray_80;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.6px;

    &:hover {
      color: $text-color-white;
      background-color: $dark-bg;
    }

    &:active,
    &:focus {
      color: $gray-70;
      background-color: $dark-bg;
    }
  }
}

/* -------- LANDSCAPE MEDIA QUERIES --------*/

/* -------- Header-navigation -------- */

@media only screen and (orientation: landscape) {
  .main-nav__item {
    display: inline-block;
    text-align: center;
  }

  .main-nav__link {
    display: inline-block;
    margin-left: 0;
    padding: 10px;
  }
}
