/* -------- LINKS -------- */
a {
  font-weight: bold;
  color: $link-color;
  outline: none;
  transition: all 0.2s ease-in-out;
  text-decoration: none;

  &:hover {
    color: $link-color-hover;
  }

  &:focus,
  &:active {
    color: darken($link-color-hover, 10%);
    outline: none;
    text-decoration: none;
  }
}
