/* -------- FORMS -------- */
input {
  padding: 5px 10px;
  outline: none;
  color: $text-color;
  border: 1px solid $border-color;
  border-radius: 4px;

  &:active,
  &:focus {
    border-color: $border-color-hover;
  }
}
